<header>
    <nav class="primary pull-left">
        <ul>
            <li><a aside-menu-button href="#" data-parent="settings"><i class="flaticon stroke settings-1"></i></a></li>
        </ul>
    </nav>
    <div id="logo" class="canvas slate">
        <section class="title">Player Rater</section>
    </div>
    <div id="spinner" class="canvas slate">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</header>

<aside id="settings" class="canvas slate left settings">
    <header class="canvas slate-dark title">Settings</header>

    <div class="canvas canvas-padded">
        <form method="post" action="">
            <select name="region" class="form-el"
                ng-model="region"
                ng-init="region = region || options[0].value"
                ng-options="region.value as region.name for region in regions"
            ></select>
        </form>
    </div>
</aside>

<div class="canvas canvas-padded white">
    <div class="char-preview">
        <div class="image" style="background-image: url(http://{{ region }}.battle.net/static-render/{{ region }}/{{ character.profileMain }})"></div>
    </div>
</div>

<div class="canvas canvas-padded grey-lighter">
    <select class="form-el"
        ng-model="formData.realm"
        ng-init="formData.realm = formData.realm || options[0].value"
        ng-options="realm.slug as realm.name for realm in realms"
    >
        <option value="">Realms...</option>
    </select>

    <input type="text" class="form-el" placeholder="Name..." ng-model="formData.name" />

    <input type="submit" class="btn btn-block btn-success" name="wowpr-ipt-submit" value="Search" ng-click="doSearch()" />

    <div class="text-center text-danger" ng-if="error">{{ error }}</div>
</div>
