/**
 * Variables
 */

// Colours

$white: #ffffff;
$grey-lighter: #ecf0f1;
$grey-light: #DEE3E6;
$grey: #95a5a6;
$grey-dark: #5f5c5d;
$grey-darker: #344040;
$black: #000000;

$green: #2ecc71;
$green-dark: #27ae60;
$teal: #1abc9c;
$teal-dark: #16a085;

$turquoise: #1abc9c;
$turquoise-dark: darken($turquoise, 12%);

$blue: #3498db;
$blue-dark: #2980b9;
$slate: #34495e;
$slate-dark: #2c3e50;
$slate-darker: darken($slate-dark, 3%);

$purple: #9b59b6;
$purple-dark: #8e44ad;

$yellow: #f1c40f;
$orange: #f39c12;
$orange-dark: #e67e22;
$organge-darker: #d35400;

$red: #e74c3c;
$red-dark: #c0392b;


// Fonts

$font-family-sans-serif: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Droid Serif", Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$font-size-large: ceil(($font-size-base * 1.25));
$font-size-small: ceil(($font-size-base * 0.85));

$line-height-base: 1.428571429;
$line-height-computed: floor(($font-size-base * $line-height-base));

$font-weight-light: 100;
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-base: $font-weight-thin;
