/**
 * Character
 */

// Preview Image

.char-info {
    .name {
        margin-bottom: 10px;
    }
}

.char-preview {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, $grey-light),
        color-stop(0.5, $grey-light),
        color-stop(0.5, $white),
        color-stop(1, $white)
    );
    background-image: -o-linear-gradient(bottom, $grey-light 0%, $grey-light 50%, $white 50%, $white 100%);
    background-image: -moz-linear-gradient(bottom, $grey-light 0%, $grey-light 50%, $white 50%, $white 100%);
    background-image: -webkit-linear-gradient(bottom, $grey-light 0%, $grey-light 50%, $white 50%, $white 100%);
    background-image: -ms-linear-gradient(bottom, $grey-light 0%, $grey-light 50%, $white 50%, $white 100%);
    background-image: linear-gradient(to bottom, $grey-light 0%, $grey-light 50%, $white 50%, $white 100%);
    height: 210px;
    padding: 24px;

    &.alliance {
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, $blue),
            color-stop(0.5, $blue),
            color-stop(0.5, $white),
            color-stop(1, $white)
        );
        background-image: -o-linear-gradient(bottom, $blue 0%, $blue 50%, $white 50%, $white 100%);
        background-image: -moz-linear-gradient(bottom, $blue 0%, $blue 50%, $white 50%, $white 100%);
        background-image: -webkit-linear-gradient(bottom, $blue 0%, $blue 50%, $white 50%, $white 100%);
        background-image: -ms-linear-gradient(bottom, $blue 0%, $blue 50%, $white 50%, $white 100%);
        background-image: linear-gradient(to bottom, $blue 0%, $blue 50%, $white 50%, $white 100%);
    }

    &.horde {
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, $red),
            color-stop(0.5, $red),
            color-stop(0.5, $white),
            color-stop(1, $white)
        );
        background-image: -o-linear-gradient(bottom, $red 0%, $red 50%, $white 50%, $white 100%);
        background-image: -moz-linear-gradient(bottom, $red 0%, $red 50%, $white 50%, $white 100%);
        background-image: -webkit-linear-gradient(bottom, $red 0%, $red 50%, $white 50%, $white 100%);
        background-image: -ms-linear-gradient(bottom, $red 0%, $red 50%, $white 50%, $white 100%);
        background-image: linear-gradient(to bottom, $red 0%, $red 50%, $white 50%, $white 100%);
    }

    .image {
        background-color: white;
        border: solid 5px $white;
        height: 200px;
        width: 200px;
        margin: 0 auto;
        background-size: 230%;
        background-position: center -50px;
        border-radius: 200px;

        &.placeholder {
            background-image: url(../img/char-image-placeholder.jpg);
            background-size: 100%;
            background-position: center;
        }
    }
}
