/**
 * Scaffolding
 */

// Base

html {
    height: 100%;
}

body {
    background: $grey-lighter;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    min-height: 100%;
}


// Support classes

.hide {
    display: none;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


// Titles

.title {
    color: white;
    font-family: "Lobster", sans-serif;
    font-size: 1.2em;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
