/**
 * Scores
 */

// Score Overview

.score-overview {
    .score,
    .label {
        color: $grey-darker;
    }

    .score {
        display: inline-block;
        font-weight: $font-weight-light;
        font-size: 36px;
        margin-bottom: 6px;
    }

    .label {
        font-weight: $font-weight-thin;
    }
}

.scoreChart {
    height: 300px;
}

.scores {
    color: $white;

    .gear {
        .name {
            color: $blue;
        }
    }

    .raids {
        .name {
            color: $purple;
        }
    }

    .professions {
        .name {
            color: $red;
        }
    }

    .achievements {
        .name {
            color: $turquoise;
        }
    }

    .percentage {
        display: inline-block;
        margin-left: 6px;
        text-align: right;
        width: 30px;
    }
}
