/**
 * Sections
 */

// HTML 5 Elements

nav.primary {
    position: absolute;

    &.pull-left {
        left: 0;

        li {
            float: left;
        }
    }

    &.pull-right {
        right: 0;

        li {
            float: right;
        }
    }


    a {
        background: $slate-dark;
        color: white;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        padding: 0 16px;
        text-decoration: none;
    }
}

aside {
    display: block;
    width: 80%;
    position: absolute;
    bottom: 0;
    top: 0;

    &.left {
        @include box-shadow(0 0 10px 5px rgba(0,0,0,0.3));
        @include single-transition(left, 0.5s);

        left: -90%;

        &.active {
            left: 0%;
        }
    }

    &.right {
        @include single-transition(right, 0.5s);

        right: -90%;

        &.active {
            right: 0%;
        }
    }
}


// Canvas

.canvas {
    @include box-sizing(border-box);

    &:last-child {
        margin-bottom: 0;
    }

    &.canvas-padded-xs {
        padding: 8px;
    }

    &.canvas-padded-s {
        padding: 16px;
    }

    &.canvas-padded {
        padding: 24px;
    }

    &.canvas-padded-l {
        padding: 36px;
    }

    &.canvas-padded-xl {
        padding: 48px;
    }

    &.canvas-leading {
        padding-bottom: 0;
    }

    &.canvas-following {
        padding-top: 0;
    }

    &.grey-lighter {
        background: $grey-lighter;
    }

    &.grey-light {
        background: $grey-light;
    }

    &.white {
        background: $white;
    }

    &.grey {
        background: $grey;
    }

    &.grey-dark {
        background: $grey-dark;
    }

    &.grey-darker {
        background: $grey-darker;
    }

    &.slate {
        background: $slate;
    }

    &.slate-dark {
        background: $slate-dark;
    }
}
